/*CSS Code*/
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
:root{
--text: 1.5rem ;
}
body{
font-family: 'Poppins', sans-serif;
}
.hero-section{
min-height: 100vh;
background: linear-gradient(rgba(4, 9, 30, 0.584),rgba(4, 
9, 30, 0.545)),url(background.jpg);
background-size: cover;
background-position: center;
}
.navbar{
display:flex;
justify-content: space-between;
align-items: center;
height:10vh;
padding: 0rem 2rem;
color:white;
font-size: 25px;
}
.navbar ul{
list-style: none;

}
.navbar ul li{
display:inline-block;
margin-left: 3rem;
font-size: var(--text);
}
.navbar ul li a{
text-decoration: none;
color:white;
border-bottom:2px solid transparent;
}
.navbar ul li a:hover{
    border-bottom:2px solid white;
}
.hero-text{
color:white;
height: 90vh;
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
animation:slides 1s ease-in-out;
}
@keyframes slides{
   from{
transform: translateX(-100%);
   }to{
    transform: translateX(0%);
   }
}
.hero-text a{
color:white;
background-color: rgb(97, 39, 39);
font-weight: 900;
padding: 0.8rem 1rem;
font-size: var(--text);
text-decoration: none;
margin: 0.9rem auto;
display:block;
border-radius: 10px;
transition: opacity 0.2s linear;
}
.hero-text a:hover{
opacity: 0.6;
color: white;
}
.hero-text h3{
font-size:40px;
margin-left: 40px;
}
.hero-text pre{
font-size: 20px;
margin-left: 60px;
}







